<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='bst/bootstrap.min.css')}}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    </head>  
<body>

    {% include 'navigation.html' %}
    
    <h1>Question Three</h1>
    <p>Why pigs will gonna be warm this Christmas?</p>

    <ul>
        <li><a href="/q3w/">There is no wolf</a></li>
        <li><a href="/q3a/">They will get blankets</a></li>
        <li><a href="/q3w/">They are never warm</a></li>
        <li><a href="/q3w/">It is Christmas spirit :)</a></li>
    <ul>

    <script src="{{ url_for('static', filename='/bst/bootstrap.bundle.min.js')}}"></script>
</body>
</html>