<!DOCTYPE html>
<html>
<head>

    <style>
        canvas{
            border: 5px solid rgb(61, 61, 61);
            background-image: linear-gradient(to bottom right, white, orange);
        }
    </style>

</head>
<body>
    <h1>You have finished the quiz!</h1>
    <p>
        Your score was {{score}} answers correct
    </p>

    <a href="/quiz">Back to the Start</a><br>
    
    <br><br>
    <canvas id="canvas1">
    </canvas>
    <br><br>
    <canvas id="canvas2">
    </canvas>

    <!--<script type="text/javascript" src="canvas.js">-->
    <script type="text/javascript">
        var canvas1 = document.getElementById('canvas1');

        //canvas.width = window.innerWidth;
        //canvas.height = window.innerHeight;

        canvas1.width = 350;
        canvas1.height = 200;

        var answers = "{{score}}";
        var negativeAns = "{{negative}}";

        var c = canvas1.getContext('2d');
        c.translate(0, canvas1.height);
        c.scale(1,-1);

        c.fillStyle = 'rgba(255, 0, 0, 1)';
        c.fillRect(250,0,50,50*negativeAns);

        c.fillStyle = 'rgba(0, 255, 0, 1)';
        c.fillRect(50,0,50,50*answers);

        //c.translate(canvas.height, 0);
        c.scale(1,-1);

        c.fillStyle = 'rgba(0, 0, 0, 0.5)';

        c.font = "12px Arial black";
        c.fillText(" Wrong",250,0);

        c.font = "12px Arial black";
        c.fillText("Correct",50,0);

    </script>

<script type="text/javascript">
    var canvas2 = document.getElementById('canvas2');

    //canvas.width = window.innerWidth;
    //canvas.height = window.innerHeight;

    canvas2.width = 350;
    canvas2.height = 100;

    //var answers = "{{score}}";
    //var negativeAns = "{{negative}}";
    var q1 = "{{q1}}";
    var q2 = "{{q2}}";
    var q3 = "{{q3}}";

    var c = canvas2.getContext('2d');
    c.translate(0, canvas2.height);
    c.scale(1,-1);

    if(q1>0)
    {
    c.fillStyle = 'rgba(0, 255, 0, 1)';
    c.fillRect(50,0,50,50*q1);
    c.scale(1,-1);
    c.fillStyle = 'rgba(0, 0, 0, 0.5)';
    c.font = "12px Arial";
    c.fillText("Question1",50,0);
    }
    else{
    c.fillStyle = 'rgba(255, 0, 0, 1)';
    c.fillRect(50,0,50,50);
    c.scale(1,-1);
    c.fillStyle = 'rgba(0, 0, 0, 0.5)';
    c.font = "12px Arial";
    c.fillText("Question1",50,0);
    }

    if(q2>0)
    {
    c.scale(1,-1);
    c.fillStyle = 'rgba(0, 255, 0, 1)';
    c.fillRect(150,0,50,50*q2);
    c.scale(1,-1);
    c.fillStyle = 'rgba(0, 0, 0, 0.5)';
    c.font = "12px Arial";
    c.fillText("Question2",150,0);
    }
    else{
    c.scale(1,-1);
    c.fillStyle = 'rgba(255, 0, 0, 1)';
    c.fillRect(150,0,50,50);
    c.scale(1,-1);
    c.fillStyle = 'rgba(0, 0, 0, 0.5)';
    c.font = "12px Arial";
    c.fillText("Question2",150,0);
    }

    if(q3>0)
    {
    c.scale(1,-1);
    c.fillStyle = 'rgba(0, 255, 0, 1)';
    c.fillRect(250,0,50,50*q3);
    c.scale(1,-1);
    c.fillStyle = 'rgba(0, 0, 0, 0.5)';
    c.font = "12px Arial";
    c.fillText("Question3",250,0);
    }
    else{
    c.scale(1,-1);
    c.fillStyle = 'rgba(255, 0, 0, 1)';
    c.fillRect(250,0,50,50);
    c.scale(1,-1);
    c.fillStyle = 'rgba(0, 0, 0, 0.5)';
    c.font = "12px Arial";
    c.fillText("Question3",250,0);
    }

    //c.translate(canvas.height, 0);
    /*c.scale(1,-1);

    c.fillStyle = 'rgba(0, 0, 0, 0.5)';

    c.font = "12px Arial";
    c.fillText(" Wrong",250,0);

    c.font = "12px Arial";
    c.fillText("Correct",100,0);
    */
</script>

</body>
</html>