<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='bst/bootstrap.min.css')}}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    </head>    
<body>

    {% include 'navigation.html' %}

    <section class="containerOne">


    <form action="" method="POST" name="registrationForm">
        <input type="text" name="usernameReg" id="usernameReg"/>
        <input type="password" name="passwordReg" id="passwordReg"/>
        <input type="password" name="passwordReg2" id="passwordReg2"/>
        <input type="submit" name="submit" id="submit"/>
    </form>
    <p>{{messageReg}}</p>
    <p><a href="/">Go Back To Start</a></p>

    </section>

    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='/bst/bootstrap.bundle.min.js')}}"></script>
</body></html>